header {
    display:flex;
    justify-content: space-between;
    height: 70px;
    padding: 40px;
    align-items: center;
      nav{
        ul{
        display: flex;
        list-style-type: none;
        text-decoration: none;
        li{
        margin: 10px;
        a{
            text-decoration: none;
            color: rgb(40, 97, 40);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        }
        }
      }
    .logo{
        img{
            flex: auto;
            width: 180px;
            height: 70px;  
           }
    }
    .labe_hamburguesa{
        display: none;
    }
    .menu-ham{
        display: none;
    }
    .responsive-carousel{
        display: none;
    }
.menu1{
    a:hover{
        background-color: rgb(40, 97, 40);
        color: antiquewhite;
        border-radius: 10px;
    }
}
}
@media(max-width: 768px){
    header {
        display:flex;
        justify-content: space-between;
        .logo{
            img{
                flex: auto;
                size: 10px;    
            }
        }
    .labe_hamburguesa{
         display: contents;
        }
    .menu-ham:checked + .menu1{
         display: block;
        }
    .menu1{
        display: none;
        ul{
            background-color: antiquewhite;
            flex-direction: column;
            align-items: center;
            padding-top: 35px;
            position: fixed;
            left: 0px;
            top: 60px;
            width: 100%;
            z-index: 2;    
        }
    }
    }
}